mixin input-arguments(queryKey,operationArguments,queryIndex)
    - queryKey = queryKey
    - operationArguments = operationArguments || []

    each argument, index in operationArguments
        - inputId=queryKey+"_"+index

        div(class="container-fluid")
            label(for=inputId)=argument.description
            input(type=argument.pugType queryIndex=queryIndex queryKey=queryKey index=index class="form-control" id=inputId onChange="ajaxInputOnChange(event)" value=argument.value)





