//- table mixins
mixin workflow-table(header,data,removeWorkflowQueryKey,upWorkflowQueryKey,downWorkflowQueryKey,editWorkflowQueryKey)
    - var type = "table-hover"
    table.table(class=type)
        thead
            tr
                th="#"
                each head, i in header
                    th #{head}
        tbody
            each row,j in data
                tr
                    td=j
                    each col,k in row                        
                        if col.includes('.png')
                            td
                                div(class='container-fluid')
                                    +img-thumbnail("temp/componentPic/"+col,"UI Element")
                        else
                            td #{col}
                    td
                        +a-btn-primary('?'+editWorkflowQueryKey+'='+j)
                            +icon("edit")
                        +a-btn-info('?'+upWorkflowQueryKey+'='+j)
                            +icon("arrow-up")
                        +a-btn-danger('?'+removeWorkflowQueryKey+'='+j)
                            +icon("trash")                  
                        +a-btn-info('?'+downWorkflowQueryKey+'='+j)
                            +icon("arrow-down")



